	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Musicality</a>
        </div>

        <!-- <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id = "newPlaylist"><a href="">New Playlist</a></li>
            <li id = "newSong"><a href="">Upload Song</a></li>
            <li id = "logout"><a href="">Log Out</a></li>
          </ul>
        </div>.nav-collapse -->
       </div> 
    </nav>

<div id="wrapper">

    <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                	<div class="userIcon">

						<center>
							<%= image_tag("icon.jpg", width: '150', height: '150', class: "img-circle", alt: "Circular Image")  %>
							<!-- <img src="icon.jpg" alt="Circular Image" class = "img-circle"  height = "150" width = "150"/> -->
						</center>

					</div>
                </li>
            	<li>
            		<center><h2 class = "name"><%= @currUser.name %></h2></center>
            	</li>
            	<li id="options">
            		<a href="">New Playlist</a>
            	</li>
            	<li id="options">

            		<%=form_tag('/upload', :multipart => true) do%>
					    <%= file_field_tag :song %>
					    <%= submit_tag "Upload" %>
					<% end %>
            	</li>
            	<li id="options">
            		<%= link_to "Log Out", logout_path %>
            	</li>


            </ul>
        </div>


	<div id="page-content-wrapper">
		<div class="container">
			<br><br><br>
					<div class="row clearfix">
						<div class="col-md-12 column">
							<div class="row clearfix">
								<div class="col-md-12 column">
									<center>
									<h3>
										Playlists
									</h3>								
									</center>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12 column">
									<div class = "mainlist">
										
										<% @playlists.each do |playlist| %>
											<div class = "playlist">
												<script> var playlistname = '<%=playlist.name%>'</script>
												<%=form_tag('/selectpl', method: 'post', :onSubmit => "displayPlaylist(playlistname);") do%>
													<%= hidden_field_tag :name, playlist.name %>
  													<%= image_submit_tag("album.jpg", width: '100', height: '100', class: "img-circle", alt: "Circular Image") %>
												<% end %>

												
												<div class = "desc"> 
													<h3><%= playlist.name %></h3>
												</div>
											</div>
										<% end %>
									</div>

									<div class = "playlist">
										<a href="#openModal">
											<%= image_tag("add.png", width: '100', height: '100', class: "img-circle", alt: "Circular Image")  %>
												<!-- <img src = "add.png" alt="Circular Image" width="100" height="100" class = "img-circle"> -->
										</a>
										<div class = "desc">
											<h3>Add</h3>
										</div>

										<div id = "openModal" class = "modalDialog">
											<div>
												<a href = "#close" title = "Close" calss = "close"> x </a>
												<h4>New Playlist</h4>

												<%=form_tag('/createPlaylist', method: 'post', :onSubmit => 'clonePlaylist(playlistName);') do%>
													Playlist Name: <br><br>
													<input type = "text" name = "playlistName">
													<br><br>
													<input type='submit' value='submit'>
												<% end %>
											</div>
										</div> <!-- MODAL  -->

									</div> 
							</div>
						</div>
					</div> <!--row clearfix-->
					<div class = "row clearfix">
						<div class = "container">
						<div class = "playlist-header">
			        		<h2 id = "name"><%= @curr_playlist.name %></h2>
			        	</div>
			        	<div id="table" class="table-editable">
			
						    <table class="table">
						    	<tr>
						        	<th width = "50%">Title</th>
							        <th width = "30%">Artist</th>
							        <th width = "10%">Play</th>
							        <th width = "5%">Up</th>
							        <th width = "5%">Down</th>
								</tr>
							    
							    <% @songs.each do |song| %>
							    <tr>
							    	<td contenteditable="false"><%= song.title %></td>
							        <td contenteditable="false"><%= song.artist %></td>
							        <td>

										<%=form_tag('/streamMusic', method: 'get') do%>
											<%= hidden_field_tag :song, song.title %>
  											<%= submit_tag "Play" %>
										<% end %>
							        </td>
							    	<td>
							    		<span class="table-up">Up</span>
							    	</td>
							    	<td>
							    		<span class="table-down">Down</span>
							    	</td>
							    </tr>

							    <% end %>


							      <!-- This is our clonable table line -->
							    <tr class="hide">
							        <td contenteditable="false">Untitled</td>
							        <td contenteditable="false">undefined</td>
							        <td>
							          <!-- play button -->
							        </td>
							        
							    </tr>
							</table>
						</div>
						</div>
					</div> <!--row clearfix-->
					<div class="row clearfix">
						<div class="col-md-9 column">
							<audio controls autoplay>
								<source src = "<%= audio_path(@path) %>" type ="audio/mpeg">
							</audio>
						</div>
					</div> <!--audio row -->
		</div> <!-- container -->
	</div> <!-- page content wrapper -->
</div>